[user]
	name = Bruce Kim
	email = bruce.kim.it@gmail.com
[color]
	ui = auto
[core]
	editor = vim
    ignorecase = false
	quotePath = false
	precomposeunicode = true
	pager = less
[merge]
	tool = vimdiff
